body {
    background-color:#1F478B;
    background-image:url('https://tiendajuegosdaniel.000webhostapp.com/img/Fondo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }

.navbar {
    background-color:#000 !Important;
    color:#FFF !Important;
    }

.navbar-light .navbar-nav .nav-link.active {
    color:#FFF !Important;
    border-bottom: 1px solid #FFF;
    }

.navbar-light .navbar-nav .nav-link {
    color: #FFF !Important;
    Padding: 10px 30px;
    }

.navbar-brand{
    color: #FFF !Important;
    }

.btn {
    color: #FFF !Important;
    }

.fondo-destacado {
    background-image:url('https://tiendajuegosdaniel.000webhostapp.com/img/banner-principal.png');
    background-size:cover;
    background-repeat:no-repeat;
    height: 350px !important;
    margin-bottom: 3%;
    }